.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.grid-column {
    height: 95vh;
    overflow: auto;
}

.grid-column-left {
    min-width: 40vw;
    width: 50vw;
    resize: horizontal;
}