#headers table {
  border: 0px;
  text-align: left;
  font-size: 0.9em;
  font-family: sans-serif;
}

.req-detail {
  color: var(--details-text);
}

.req-detail h4 {
  color: var(--details-section-text);
}

.header-cookie-key {
  color: var(--header-cookie-key-text);
}

.header-cookie-value {
  color: var(--header-cookie-value-text);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--table-header-bg);
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px;
  height: 42px;
  color: var(--table-header-text);
  font-size: 0.9em;
}


.tab button:hover {
  background-color: var(--table-header-btn-hover);
}


.tab button.active {
  background-color: var(--table-header-btn-active);
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
  overflow-wrap: break-word;
}

pre {
  white-space: pre-wrap;
}

.req-detail {
  width: 99%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}