#headers table {
  border: 0px;
  text-align: left;
  font-size: 0.9em;
  font-family: sans-serif;
}

.request-details {
  border-collapse: collapse;
  width: 99%;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.request-details thead tr {
  position: sticky;
  top: 0;
  z-index: 9;
}

.request-details {
  color: var(--details-text);
}

.request-details h4 {
  color: var(--details-section-text);
}

.header-cookie-key {
  color: var(--header-cookie-key-text);
  font-family: monospace;
}

.header-cookie-value {
  color: var(--header-cookie-value-text);
  font-family: monospace;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--table-header-bg);
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px;
  height: 42px;
  color: var(--table-header-text);
  font-size: 0.9em;
}

.tab button:hover {
  background-color: var(--table-header-btn-hover);
}


.tab button.active {
  background-color: var(--table-header-btn-active);
}

.tabcontent {
  border-top: none;
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
}


pre {
  white-space: pre-wrap;
}

.content {
  display: flex;
  flex-direction: row;
}

.colcontent {
  flex: 1;
  overflow: auto;
}

[name='request'],
[name='compareto'] {
  padding: 2px;
}

#title>[name='request'] {
  background-color: var(--selected-url-bgcolor);
}

#title>[name='compareto'] {
  background-color: var(--compare-url-bgcolor);
}

.closecol {
  float: right;
}