* {
  font-family: sans-serif;
}

:root {
  --main-bg-color: #ffffff;
  --table-header-bg: #dddddd;
  --table-header-text: #000000;
  --table-header-btn-active: #cccccc;
  --table-header-btn-hover: #eeeeee;
  --selected-url-text: #000000;
  --tooltip-bg-color: #111111;
  --tooltip-text: #ffffff;
  --header-cookie-key-text: #222288;
  --header-cookie-value-text: #000000;
  --details-text: #000000;
  --details-section-text: #000000;
  --link-server-disconnected: #444444;
  --preview-code-border: #777777;
}

body {
  background-color: var(--main-bg-color);
}

header {
  background-color: var(--main-bg-color);
  padding: 0 5px 10px 0;
}

#navbar {
  text-align: right;
  background-color: var(--table-header-bg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

a:link {
  color: var(--header-cookie-key-text);
}

#navbar a {
  color: var(--table-header-text) !important;
  text-decoration: none;
}

#configuration {
  display: none;
}

.previewcode {
  display: block;
  overflow-x: scroll;
  white-space: pre;
  border: 1px solid var(--preview-code-border);
  font-family: monospace;
}

.prewrap {
  white-space: pre-wrap !important;
}

.previewimage {
  border: 1px solid var(--preview-code-border);
}