.requests-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 99%;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.requests-table thead tr {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.url {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    overflow: hidden;
    width: auto;
    font-weight: normal;
}

.url-content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag {
    margin-left: 6px;
    color: var(--tag-text);
    background-color: var(--tag-bg-color);
    border-radius: 20%;
    padding: 1px 2px;
    font-size: 0.8em;
}

.group-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--table-group);
}

.pin {
    width: 18px;
    padding: 2px !important;
}

.pin-checkbox {
    display: none;
}

.pin-checkbox:checked+label {
    filter: none !important;
    opacity: 1 !important;
}

.pin-checkbox:checked+label img {
    transform: rotate(-45deg);
}

.pin-icon {
    width: 16px;
    padding: 0px !important;
    opacity: 0.4;
    filter: grayscale(100%);
}

.status {
    text-align: center;
    width: 36px;
    padding: 6px !important;
}

.method {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 48px;
    padding: 6px !important;
}

.group-header {
    display: none;
}

.group {
    background-color: var(--table-group);
}

.request {
    display: none;
}

.requests-table th {
    padding: 12px 15px;
}

.requests-table td {
    padding: 6px;
}

.requests-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.requests-table tbody tr.active-row {
    background-color: var(--selected-url-bgcolor);
    color: var(--selected-url-text);
}

.requests-table tbody tr.active-row-compare {
    background-color: var(--compare-url-bgcolor);
    color: var(--selected-url-text);
}

#filter-url {
    width: 50%;
    border-width: 0px;
    padding: 1px 2px;
}

.icon-filter {
    filter: grayscale(100%);
}


.collapse {
    width: 16px;
    padding: 2px !important;
    transform: rotate(180deg);
    background-color: var(--table-group);
    opacity: 0.4;
}

.collapse-checkbox {
    display: none;
}

.collapse-checkbox:checked+label {
    filter: none !important;
}

.collapse-checkbox:checked+label img {
    transform: rotate(-90deg);
}

.collapse-icon {
    width: 16px;
    padding: 0px !important;
}